@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

#saturn {
  float: right;
  text-align: center;;
}
section {
  background-color: black;
}
body {
  font-family: 'Titillium Web', sans-serif;
}
