@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

section {

}
a {
  text-decoration: none;
  color: inherit;
}
.btn {
  background-color: hsl(134, 49%, 53%);
  color: white;
  padding: 10px 25px;
  border-radius: 3px;
  border: 1px solid hsl(134, 49%, 53%);
  text-transform: uppercase;
}
