body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

ul {
 background-color: orange;
 border: 2px black dotted;
 list-style-type: none;
 margin: 20px;
 padding: 0;
}

a {
 background-color: red;
 display: block;
 text-align: center;
 padding-top: 10px;
 padding-bottom: 10px;
 border-bottom-width: 5px 1px 10px 25px;
 border-style: dotted solid dashed double;
 border-color: red magenta green pink;
 border: 20x solid blue
 
}

li {
 padding: 10px;
  
  
  
}
